  <div class="avatar-form__header">Загрузка фото</div>
  <div class="avatar-form__image">
    <img id="avatarImg" src={{avatar}} alt="аватар пользователя" class="avatar-image">
  </div>
  <label class="avatar-form__file">
    <input type="file" class="avatar-form__input" id="avatarFileInput">
    Загрузить
  </label>
  <div class="avatar-form__footer">
    <button id="cancelBtn" class="button button--cancel">Отменить</button>
    <button id="saveBtn" class="button button--cancel">Сохранить</button>
  </div>