  {{#if userMessage}}
  <div class="message-user__logo"><img src={{avatar}}></div>
  <div class="message-user__name">{{userName}}</div>
  <time class="message__time">{{time}}</time>
  {{/if}}
  <div class="message__text">{{msgText}}</div>